html ,body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/house.jpg);
}
.logo {
    display: flex;
    width: 100%;
    justify-content: center;
}
h1 {
    color: rgb(0, 0, 0);
    background : rgb(233, 0, 0);
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    box-shadow: 7px 7px 5px rgb(0, 0, 0) ;
   
   
}
.conteiner{
    display: flex;
    width:100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
.box{ 
    width: 50%;
    height: 150px;
    background :linear-gradient(rgba(151, 151, 156, 0.700), rgb(32, 35, 37) );
    text-align: center;
    padding:35px 7px 0 7px;
    border-radius: 6px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 7px 7px 5px rgb(0, 0, 0) ;
    font-size:35px;
   
   
}
section{
    display: flex;
    justify-content: center;
}
.botao{
    padding: 0 30px 0 30px;
    width: 100%;
    height: 35px;
    font-weight: bold;
    text-align: center;
    background :linear-gradient(rgb(151, 151, 156), rgb(32, 35, 37) );
    box-shadow: 7px 7px 5px rgb(0, 0, 0) ;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
}
.botao:hover {
    background: red;
    transform :scale(1.2);
    cursor: pointer;
}